#lista {
    overflow:auto;
	background-color: #FFFFFF;
}

body{
	background-color: #E3F7FB;
}

#form{
	background-color: #FFFFFF;
}

#contenedor-lista{
	background-color: #FFFFFF;
	margin: auto;
}
